{% extends "base.html" %}

{% block content %}

<form method="POST">
    {% csrf_token %}

    <div class="container-login">
        <div class="fields">
            <h2>Login</h2>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert-danger">{{message}}</div>
                {% endfor %}
            {% endif %}
            <div>
                <label>Usuário</label>
                <p>{{ login_form.username }}</p>
            </div>
            <div>
                <label>Senha</label>
                <p>{{ login_form.password }}</p>
            </div>
            <input class="btn-submit" type="submit" value="Entrar">
        </div>
    </div>

</form>

{% endblock %}